In [2]:
import pandas as pd

In [67]:
import numpy as np

In [14]:
pd.set_option('display.max_columns', 40)
pd.set_option('display.float_format', '{:.2f}'.format)

In [13]:
df = pd.read_csv('data.csv', encoding='1251')

In [15]:
df.head()

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,DR_Suppl,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-11,10:15:35,2173,2004598,2,22577,Розничная реализация,18,45399,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,Катрен г.Химки,Д-р Редди с Лабораторис Лтд / Dr.REDDY's,1.00,41.08,51.00,12.00,925.00,200000000492.00,205,1,1.00
1,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,261519,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,Катрен г.Химки,ФЛОРА КАВКАЗА ОАО,1.00,18.61,31.00,3.00,9.00,200010010204.00,205,1,1.00
2,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,460864,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,Катрен г.Химки,КОРОЛЕВФАРМ ООО,1.00,132.69,209.00,20.00,9.00,200010010204.00,205,1,2.00
3,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,172823,СОФЬЯ ГХК КРЕМ Д/ТЕЛА ХОНДРОИТИН+ГЛЮКОЗАМИН 12...,Катрен г.Химки,КОРОЛЕВФАРМ ООО,1.00,133.65,210.00,21.00,9.00,200010010204.00,205,1,3.00
4,2022-08-11,10:33:56,2175,2004598,2,22577,Розничная реализация,18,79056,ГАЛВУС 50МГ. №28 ТАБ. /НОВАРТИС/,Катрен г.Химки,Новартис Фарма АГ,1.00,709.95,787.00,49.00,925.00,200000000492.00,205,1,1.00

In [16]:
#считаем продажи по дням с разбивкой по товарам
df = df.groupby(['DR_Dat', 'DR_NDrugs']).agg({'DR_Kol': sum})
df

                                                               DR_Kol
DR_Dat     DR_NDrugs
2022-08-11 911-ГЕЛЬ-БАЛЬЗАМ Д/СУСТАВОВ ОКОПНИК 100МЛ. ТУБА       1.00
           911-ГЕЛЬ-БАЛЬЗАМ Д/СУСТАВОВ САБЕЛЬНИК 100МЛ.          1.00
           L-ТИРОКСИН 150МКГ. №100 ТАБ. /БЕРЛИН ХЕМИ/            1.00
           L-ТИРОКСИН 50МКГ. №50 ТАБ. /БЕРЛИН ХЕМИ/              1.00
           ZD ТЕЙМУРОВА СПРЕЙ Д/НОГ П/ПОТА И ЗАПАХА 150МЛ....    1.00
...                                                               ...
2022-08-12 ЭУФИЛЛИН 150МГ. №30 ТАБ. /ФАРМСТАНДАРТ/               2.00
           ЮНИЭНЗИМ С МПС №20 ТАБ. П/О                           1.00
           Я ЗАБОЧУСЬ О ЗДОРОВЬЕ ТРАВЯН.КОФЕ КОФЕЙНЫЙ НАПИ...    1.00
           ЯНТАРНАЯ К-ТА ФОРП 100МГ. №10 ТАБ.                    2.00
           ЯРИНА №21 ТАБ. П/П/О                                  1.00

[2304 rows x 1 columns]

In [ ]:
df1 = df.reset_index().groupby('DR_NDrugs').agg({'DR_Dat': 'count'}).reset_index()
xyz_names = list(df1[df1['DR_Dat'] > 1]['DR_NDrugs'])
xyz_names

In [ ]:
df = df.reset_index()
df = df[df['DR_NDrugs'].isin(xyz_names)]
df = df.groupby('DR_NDrugs').apply(lambda x: x.std()/x.mean())
df

In [28]:
df

                                                    DR_Kol
DR_NDrugs
911-ГЕЛЬ-БАЛЬЗАМ Д/СУСТАВОВ ОКОПНИК 100МЛ. ТУБА        NaN
911-ГЕЛЬ-БАЛЬЗАМ Д/СУСТАВОВ САБЕЛЬНИК 100МЛ.           NaN
L-ТИРОКСИН 50МКГ. №50 ТАБ. /БЕРЛИН ХЕМИ/               NaN
ZD ТЕЙМУРОВА СПРЕЙ Д/НОГ П/ПОТА И ЗАПАХА 150МЛ....     NaN
АДЖИСЕПТ ЛИМОН №24 ТАБ. Д/РАСС.                        NaN
...                                                    ...
ЭРИНИТ 10МГ. №50 ТАБ. /ФАРМАПОЛ-ВОЛГА/                 NaN
ЭРМИТАЛЬ 10000ЕД №50 КАПС. /НОРДМАРК/                  NaN
ЭСПИРО 25МГ. №30 ТАБ. П/П/О                            NaN
ЭУФИЛЛИН 150МГ. №30 ТАБ. /ФАРМСТАНДАРТ/                NaN
ЯНТАРНАЯ К-ТА ФОРП 100МГ. №10 ТАБ.                     NaN

[428 rows x 1 columns]

In [71]:
df['XYZ'] = np.where(df['DR_Kol'] < 0.1, 'X', np.where(df['DR_Kol'] < 0.25, 'Y', 'Z'))

In [75]:
df

Empty DataFrame
Columns: [index, DR_NDrugs, DR_Kol, XYZ]
Index: []

In [72]:
a = {'b': [1]}
a = pd.DataFrame(a)
a

   b
0  1

In [73]:
a['b'].std()

nan

In [74]:
np.std(a['b'])

0.0